{% include 'base.html'%}{% load static %} {% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" /> {% block styles %} {% bootstrap_css %} {% endblock %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>

<body class="stulist">
    <div class="myContainer">
        <div class="myForm">
            <center> <img src={% static "events-removebg-preview.png" %} style="height: 30vh;"></center>
            <h1 id="form-heading">Add Event</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %} {{form.as_p}}
                <button id="btn-register" class="btn btn-primary" type="submit">Add Event</button>
            </form>
        </div>
    </div>

    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script> {% bootstrap_javascript %} {% endblock %}
</body>

</html>