{% include 'base.html'%}{% load static %} {% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" /> {% block styles %} {% bootstrap_css %} {% endblock %}
</head>

<body class="stulist">
    <div class="myContainer ">
        <div class="myForm">
            <center> <img src={% static "trainer-removebg-preview.png" %} style="height: 30vh;"></center>

            <h1 id="form-heading">Staff registration Form</h1>
            <form method="POST" enctype="multipart/form-data">
                <!-- template variable as means as paragraph -->
                {% csrf_token %} {{form.as_p}}
                <button id="btn-register" class="btn btn-primary" type="Submit">Register</button>
            </form>
        </div>
    </div>

    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %} {% endblock %}

</body>

</html>